@charset="UTF-8";

@media screen and (min-width: 681px) {

	.nav{
		margin-top:25px;
		height: 100%;
		text-align: center;
	}
	li{
		padding: 0 0 26px 0;
		box-sizing: border-box;
		list-style: none;
	}
	a{
		font-size: 160px;
		list-style: none;
		font-family: sans-serif;
		font-size: 16px;
		color: black;
		padding: 0 0 26px 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	html{
		height:100%; 
	}
	body{
		width: 100%;
		margin: 0 auto;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		position: relative;
		background-color: #f5f5f5;
	}
	.header{
		width: 100%;
		height: 50px;
		background-color:white;
		padding: 20px 0 68px 0;
		box-sizing: border-box;
	}
	h1{
		font-family: sans-serif;
		font-size: 24px;
		color: black;
		letter-spacing: 20px;
		text-align: center;
		line-height: 50px;
		font-weight: 100;
	}
}
@media screen and (max-width: 600px){
	.nav{
		margin-top:25px;
		height: 100%;
		text-align: center;
	}
	li{
		padding: 0 0 26px 0;
		box-sizing: border-box;
		list-style: none;
	}
	a{
		font-size: 160px;
		list-style: none;
		font-family: sans-serif;
		font-size: 16px;
		color: black;
		padding: 0 0 26px 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	html{
		height:100%; 
	}
	body{
		width: 100%;
		margin: 0 auto;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		position: relative;
		background-color: #f5f5f5;
	}
	.header{
		width: 100%;
		height: 50px;
		background-color:white;
		padding: 20px 0 68px 0;
		box-sizing: border-box;
	}
	h1{
		font-family: sans-serif;
		font-size: 24px;
		color: black;
		letter-spacing: 20px;
		text-align: center;
		line-height: 50px;
		font-weight: 100;
	}

#cross {
    position: absolute;
    top:15px;left:60px;
    width: 30px;
    height: 30px;  
    cursor: pointer;
}

#cross::before,
#cross::after {
    position: absolute;
    top: 50%;
    content: "";
    display: block;
    width: 25px;
    border-top: 1px solid white;
}
 
#cross::before {
    transform: skewY(-45deg);
}
 
#cross::after {
    transform: skewY(45deg);
}

.header_menu.js−active {
    transform: translateY(0%);
}

.navToggle {
    display: block;
    position: fixed;    
    right: 13px;
    top: 2px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    text-align: center;
}

 
.navToggle span {
    display: block;
    position: absolute;    
    width: 30px;
    border-bottom: solid 3px black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
 
.navToggle span:nth-child(1) {
    top: 9px;
}
 
.navToggle span:nth-child(2) {
    top: 18px;
}
 
.navToggle span:nth-child(3) {
    top: 27px;
}
 
.navToggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}
/*
.header_menu {
    width: 190px;
    height: 385px;
    top: 0;
    right: 0;
    font-size: 0;
    text-align: center;  
    background-color: gray;
    transform: translateY(-100%);
    position: fixed;
    transition: all 0.6s;
    z-index: 10;
}
*/

	}